<div class="columns is-multiline margin_around">
    <%= render partial: 'products/product',
             collection: @stateNew,
             locals: { show_link: true, show_page: false, category_page:false} %>
</div>
