<div id="shoppingCart" class="cart-width">
  <h1 class=" shopping-h1 title is-1">All Orders</h1>

  <div class="columns is-multiline margin_around">
      <div class="columns is-multiline margin_around">
          <%= render partial: 'orders/order',
              collection: @allOrders,
              locals: {show_link: true}%>
      </div>
  </div>
</div>
