<% if @addresses.empty? %>
  <p>There are no Addresses available</p>
<% else %>
    <% @addresses.each do |address| %>
    <div>
      <%= address.street_no %>
      <%= address.city %>
    </div>
    <% end %>
<% end %>
