<div id="shoppingCart" class="cart-width">

        <div id="shoppingCart" class="cart-width">
                <%= link_to "create Address", addresses_new_path, class:"button is-success"  %>
                <div class="columns is-multiline margin_around">
                        <%= render partial: 'addresses/address',
                                collection: @addresses,
                                locals: {remove_address: false, checkout: false, edit_address: false} %>
                </div>
</div>
