// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.width_height_card
{
  width: 800px;
  height: auto;
}
.size
{
  width: 400px;
  height: 350px;
}
.padding_around
{
  padding: 15px;

}
.margin_around
{
  margin: 15px;
}

.margin_right
{
  margin-right: 9rem;
}

.margin_top
{
  margin-top: 1rem;
}

.margin_bottom
{
  margin-bottom: 1rem;
}

.card_box_shadow
{
  box-shadow: 0 0 2px 2px;
}

.button-radius
{
  border-radius: 7px;
}
.detail_image
{
  width: 70px;
  height: 45px;
}

.flex_card
{
  display: flex;
  // flex-direction: column;
}

.flex_card_column
{
  flex-direction: column;
}

.flex_card_row
{
  flex-direction: row;
}

.on_sale_and_price
{
  padding: 10px;
  border-radius: 10px;
}

.flex_quantity_remove
{
  display: flex;
}
