<%= render partial: 'categories/searchForm' %>
<%if @search_results_category.empty? %>
  <h1 class="is-size-1-tablet	roboto">No results have been found</h1>
<%else %>
  <div class="search-results columns is-multiline">
    <%= render partial: 'products/product',
              collection: @search_results_category,
              locals: { show_link: true, show_page: true, category_page:false} %>
  </div>
<% end %>