<%= render partial: 'categories/searchForm' %>

<p>
  Found <%= pluralize(@category_products, 'result') %>
</p>

<div class="search-results columns is-multiline">
  <%= render partial: 'products/product',
             collection: @search_results_category,
             locals: { show_link: true, show_page: true, category_page:false} %>
</div>