

<h4 class="title is-5 background_color">All Cars</h4>

<div class="columns is-multiline">
  <%= render partial: 'products/product',
             collection: @products,
             locals: { show_link: true, show_page: false} %>
</div>
