<%= render partial: 'products/searchForm' %>

  <h4 class="title is-2 background_color margin_around">All Cars</h4>
<div class="columns is-multiline margin_around">
    <%= render partial: 'products/product',
             collection: @products,
             locals: { show_link: true, show_page: false, category_page:false, product_cart_page: true} %>
</div>
<div class="pagination">
  <%= paginate @products%>
</div>
