<% if @products.empty? %>
  <p>There are no Characters available</p>
<% else %>
    <% @products.each do |product| %>
    <div>
      <%= product.model %>
      <%= product.category.name %>
    </div>
    <% end %>
<% end %>