<%= render partial: 'products/searchForm' %>

<p>
  Found <%= pluralize(@category_products, 'result') %>
</p>

<div class="search-results columns is-multiline">
  <%= render partial: 'products/product',
             collection: @product_search,
             locals: { show_link: true, show_page: true } %>
</div>