<%= render partial: 'products/searchForm' %>
<div class="search-results columns is-multiline">
  <%= render partial: 'products/product',
             collection: @product_search,
             locals: { show_link: true, show_page: true, category_page:false } %>
</div>