<h1>Shopping cart products</h1>
<div>
    price = <%= @price %>
</div>
<div class="columns is-multiline margin_around">
    <%= render partial: 'products/product',
             collection: @cart,
             locals: { show_link: true, show_page: false, category_page:true} %>
</div>